.headeris{
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    padding: 25px;
    height: 10%;
    position: fixed;
    z-index: 1000;
    width: 100%;
}
.logo{
    width: 50px;
    display: inline-block;
    vertical-align: middle;
}
.pavadinimas{
    display: inline-block;
    font-family: 'League Spartan', sans-serif;
    font-weight: 900;
    color: white;
    vertical-align: middle;
}
.pavadinimas1{
margin: 0;
}
.pavadinimas2{
margin: 0;
}
.meniu{
    display: grid;
    grid-template-columns: 100px 100px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
}
.menua{
    text-decoration: none;
    color: white;
}
.menua:visited{
    text-decoration: none;
    color: white;
}